<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
        backupGlobals="false"
        bootstrap="tests/bootstrap.php"
        colors="true"
        failOnRisky="true"
        failOnWarning="true">
    <coverage>
        <include>
            <directory>.</directory>
        </include>
        <exclude>
            <directory>tests</directory>
            <directory>vendor</directory>
        </exclude>
        <report>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="KERNEL_CLASS" value="Yurinskiy\RequestBundle\Tests\App\Kernel" />
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <!--        <server name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>-->
        <env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="test"/>
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>