name: code-style

on:
  push:
  pull_request:

jobs:
  cs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          tools: composer
          coverage: none

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run PHP-CS-Fixer (dry run)
        run: vendor/bin/php-cs-fixer fix --dry-run --diff